.imageCaroussel{
  width: 100vw;
  height: 100%;
  object-fit: cover;
}
.blockCaroussel {
    display:block;
    height:500px;
    line-height:200px;
    overflow:hidden;
}
#accordionContainer{
  max-width: 80%;
  margin: 50px auto;
}

.card-header>button{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
